In [1]:
# get outr database url
# create db engine vie sqlalchemy

In [2]:
from env import config
from sqlalchemy import create_engine, text

In [3]:
DATABASE_URL = config("DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [4]:
engine = create_engine(DATABASE_URL)

In [ ]:
DB_NAME="btc_price"
with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE {DB_NAME}"))

In [16]:
with engine.connect() as conn:
    results = conn.execute(text("SHOW DATABASES"))
    print(results.all())

[('btc_price',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-24 14:00:00+00:00,30657.111328,30722.279297,30632.900391,30695.025391,0,0.0,0.0
2023-06-24 15:00:00+00:00,30704.728516,30710.583984,30385.234375,30409.957031,0,0.0,0.0
2023-06-24 16:00:00+00:00,30406.611328,30509.166016,30290.146484,30507.400391,0,0.0,0.0
2023-06-24 17:00:00+00:00,30521.162109,30648.400391,30518.871094,30599.996094,0,0.0,0.0
2023-06-24 18:00:00+00:00,30596.775391,30705.515625,30591.207031,30653.119141,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-24 10:00:00+00:00,43705.902344,43706.550781,43447.687500,43612.140625,470294528,0.0,0.0
2023-12-24 11:00:00+00:00,43618.898438,43660.289062,43578.890625,43652.601562,132624384,0.0,0.0
2023-12-24 12:00:00+00:00,43658.683594,43684.480469,43595.800781,43677.285156,59389952,0.0,0.0
2023-12-24 13:00:00+00:00,43678.675781,43793.699219,43659.925781,43793.699219,159499264,0.0,0.0
2023-12-24 14:00:00+00:00,43790.117188,43902.718750,43788.839844,43863.976562,250487808,0.0,0.0