In [7]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, text
from env import config

In [8]:
DATABASE_URL = config("DATABASE_URL", cast=str, default=None)
DATABASE_URL is not None

True

In [9]:
engine = create_engine(str(DATABASE_URL))

In [10]:
btc = yf.Ticker("BTC-USD")
df = btc.history(period="6mo", interval="1h")

In [11]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-29 14:00:00+00:00,30601.869141,30644.109375,30419.296875,30459.607422,0,0.0,0.0
2023-06-29 15:00:00+00:00,30453.050781,30531.214844,30437.730469,30477.902344,0,0.0,0.0
2023-06-29 16:00:00+00:00,30474.136719,30556.808594,30474.136719,30500.802734,0,0.0,0.0
2023-06-29 17:00:00+00:00,30496.746094,30639.820312,30446.363281,30535.990234,0,0.0,0.0
2023-06-29 18:00:00+00:00,30539.128906,30610.484375,30515.318359,30572.707031,24939520,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-29 10:00:00+00:00,42657.527344,42810.738281,42657.527344,42761.593750,145475584,0.0,0.0
2023-12-29 11:00:00+00:00,42731.996094,42934.066406,42724.546875,42920.796875,338888704,0.0,0.0
2023-12-29 12:00:00+00:00,42913.878906,42963.156250,42799.492188,42849.179688,98459648,0.0,0.0
2023-12-29 13:00:00+00:00,42854.785156,42892.738281,42746.992188,42826.664062,28100608,0.0,0.0
2023-12-29 14:00:00+00:00,42844.949219,42872.339844,42827.796875,42828.507812,1103872,0.0,0.0

In [12]:
table_name = "btc_price_data"
df.to_sql(table_name, engine, if_exists='replace', index=True)

4392

In [13]:
with engine.connect() as conn:
    results = conn.execute(text(f"SELECT * FROM {table_name} LIMIT 10"))
    print(results.all())

[(datetime.datetime(2023, 6, 29, 14, 0), 30601.869140625, 30644.109375, 30419.296875, 30459.607421875, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 15, 0), 30453.05078125, 30531.21484375, 30437.73046875, 30477.90234375, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 16, 0), 30474.13671875, 30556.80859375, 30474.13671875, 30500.802734375, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 17, 0), 30496.74609375, 30639.8203125, 30446.36328125, 30535.990234375, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 18, 0), 30539.12890625, 30610.484375, 30515.318359375, 30572.70703125, 24939520, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 19, 0), 30563.767578125, 30596.470703125, 30490.560546875, 30596.470703125, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 20, 0), 30595.830078125, 30632.92578125, 30273.216796875, 30404.1484375, 415524864, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 21, 0), 30406.349609375, 30442.90234375, 30369.322265625, 30416.703125, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 22, 0), 30412.48046875, 30453.705078125, 30408.71875, 30408.71875, 0, 0.0, 0.0), (datetime.datetime(2023, 6, 29, 23, 0), 30406.369140625, 30516.521484375, 30398.880859375, 30452.0546875, 43190272, 0.0, 0.0)]